<!DOCTYPE html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>roar</title>
	
	<script src="/static/js/jquery-1.6.2.min.js" type="text/javascript"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" charset="utf-8">
		
		var socket = io.connect("http://<%= server %>:<%= port %>");
		var rooms = [];
		
		socket.on('connect', function(data) {
			console.log("Connected to server.");

			if("roar-username" in localStorage) {
				// This client has logged in before. Present auth to the 
				// server.

				socket.emit("identify", {username:localStorage["roar-username"]});

			} else {
				// This client has not logged in before. Present the identify
				// UI and ask them what they want their name to be. Then
				// send that to the server. 
				$("#identity-container").show();
			}
		});

		// Now we need to start listening for an identify response.
		socket.on('identify', _handleIdentityResponse);
		
		socket.on('message', function (data) {
			appendChat(data);
		});
		
		socket.on('pulse', function (data) {
			updatePulse(data);
		});
		
		socket.on('rooms', function(data) {
			rooms = data;
			
			// Does this work? Check.
			$("#top-rooms li").remove();
			
			for(roomIndex in rooms) {
				var roomName = rooms[roomIndex].name;
				var roomPop = rooms[roomIndex].population;
				
				var roomItem = $("<li></li>");
				roomItem.text(roomName + " (" + roomPop + ")")
					.attr("title", roomName)
					.click(function (event) {
						$("#room").val($(this).attr("title"));
						$("#room-select-form").submit();
					})
					.appendTo($("#top-rooms ul"));
			}
		});
		
		socket.on('shout', function(data) {
			// Create a shout div.
			var shoutEl = $("<div></div>")
				.attr("id", "shout-" + data["id"])
				.addClass("shout")
				.append($("<div class='from'></div>").text(data["from"]))
				.append($("<div class='text'>" + data["text"] + "</div>"))
				.append($("<div class='votes-container'></div>")
					.append($("<div class='votes'>" + data["votes"]
						+ "</div>"))
					.append($("<div class='vote-button'>+1</div>")
						.attr("shout-id", data["id"])
						.click(function (event) {
							voteForShout($(this).attr("shout-id"));
							
							// Premeptively increment the value locally, so
							// there's clear local feedback and we don't need
							// to wait for confirmation from the server.
							// var voteCount=$(this).parent().children().first();
							// voteCount.text(parseInt(voteCount.text())+1);
							// (disabled for now - server responds super-fast, and that means we only have to validate on the server side.)
							
							$(this).addClass("disabled");
						})
						)
					)
				.append($("<br class='clear'>"))
				.appendTo($("#shout-live"));	
		});
		
		socket.on('shout.vote', function(data) {
			// get the appropriate vote dom node and update it.
			$("#shout-" + data["id"] + " .votes").text(data["votes"]);
		});
		
		socket.on('shout.expire', function(data) {
			// TODO animate this.
			$("#shout-" + data["id"]).remove();
		});

		
		$(document).ready(function() {
			
			// Setup default visibility.
			$("#identity-message").hide();
			$("#chat-history").hide();
			$("#top-rooms").hide();
			
			$("#chat-input").attr("disabled", true);
			
			// Setup event handlers.
			$("#chat-form").submit(sendChat);
			
			$("#chat-button").click(sendChat);
			$("#shout-button").click(sendShout);
			
			$("#submit-name").click(function(event) {
				socket.emit("identify", {username:$("#name").val()});
				event.preventDefault();
			});
			
			$("#nickname").click(function() {
				$("#nickname").hide();
				$("#identity-form").show();
				$("#name").removeClass("default-text");
				$("#name").removeClass("default-text-active");
				
				$("#name").val($("#nickname").html());
			});
			
			$("#show-history").click(function () {
				if($("#chat-history").is(":visible")) {
					// If it's visible, animate it to make it disappear.
					$("#chat-history").animate({bottom:-300}, 500, function(){
						$(this).hide();
					});
					$("#show-history").removeClass("pressed");
				} else {
					// First, clear out the live view so it doesn't get in
					// the way.
					$("#chat-live").children().remove();
					
					$("#chat-history").show();
					$("#chat-history").animate({bottom:51}, 500, null);
					$("#chat-history").scrollTop(Math.pow(2, 30));
					
					$("#show-history").addClass("pressed");
				}
			});
			
			$("#room-select-form").submit(function (event) {
				joinRoom($("#room").val());
				event.preventDefault();
			});
			
			$("#identity-form").submit(function (event) {
				socket.emit("identify", {username:$("#name").val()});
				event.preventDefault();
			})
			
			$("#room").focus(function (event) {
				// show the room list
				toggleRoomList(event);
			});
			
			$("#room").blur(function (event) {
				// hide the room list
				setTimeout(toggleRoomList, 50);
			});
			
			// Manage default text.
			$(".default-text").focus(function(srcc)
		    {
		        if ($(this).val() == $(this)[0].title)
		        {
		            $(this).removeClass("default-text-active");
		            $(this).val("");
		        }
		    });

		    $(".default-text").blur(function()
		    {
		        if ($(this).val() == "")
		        {
		            $(this).addClass("default-text-active");
		            $(this).val($(this)[0].title);
		        }
		    });
			
		    $(".default-text").blur();
		});
		
		function toggleRoomList(event) {
			if($("#top-rooms").is(":visible")) {
				$("#top-rooms").animate({bottom:-300}, 500, function(){
					$(this).hide();
				});
			} else {
				$("#top-rooms").show();
				$("#top-rooms").animate({bottom:51}, 500, null);
			}
		}
		
		function sendShout() {
			var chatTextElement = $("#chat-input");
			
			if(chatTextElement.val()=="") return;
			
			socket.emit("shout", {"text":chatTextElement.val()});
			chatTextElement.val("");
		}
		
		function voteForShout(shoutId) {
			socket.emit("shout.vote", {"shout_id":shoutId});
		}
		
		function sendChat(event) {
			var chatTextElement = $("#chat-input");
			
			if(chatTextElement.val() == "") {
				if(event!=null) event.preventDefault();
				return;
			}
			
			socket.emit("message", {"text":chatTextElement.val()});
			chatTextElement.val("");
			
			if(event!=null) event.preventDefault();
		}
		
		
		function appendChat(message) {
			
			// Make a normal message.
			classes = "";
			if("past" in message) classes += " past";
			
			if("admin" in message) classes += " admin";
			if("error" in message) classes += " error";
			
			 if(!("timestamp" in message)) {
			 	message.timestamp = Date.now();
			 }
			
			// We have two different versions because one of them (the
			// live one) gets expired and removed from the DOM. The other
			// one sticks around in a scrollable div for reviewing chat
			// history. They need different IDs to not collide.
			
			var liveId = 'chat-live-' + message.timestamp;
			var historyId = 'chat-' + message.timestamp;
			
			var contentsEl;
			if("admin" in message)  {
				contentsEl = $("<span class='contents'></span>");
				contentsEl.first().text(message.text);
			} else {
				contentsEl = $("<span class='from'></span>: <span class='contents'></span>");
				contentsEl.first().text(message.from);
				contentsEl.last().text(message.text);
			}
			
			var liveMessageEl = $("<div id='" + liveId + "' class='chat" + classes + "'></div>");
			liveMessageEl.append(contentsEl.clone());
			
			var historyMessageEl = $("<div id='" + historyId + "' class='chat" + classes + "'></div>");
			historyMessageEl.append(contentsEl.clone());
			
			// Append it. (is there a race condition here with removing elements? should I do this more formally with DOM operations?)
			chatHistory = $("#chat-history");
			chatHistory.append(historyMessageEl);
			
			// Scroll chat history down to the bottom.
			// INT_MAX. I want this to really represent the current height,
			// but I can't seem to find a property that represents the size 
			// that it really wants to be if there were no scrollbars to 
			// figure out how far down to push it. 
			chatHistory.scrollTop(Math.pow(2, 30));
			
			// Check and see if the history view is showing. If it is,
			// don't do live chat.
			if(!chatHistory.is(":visible")) {
				liveChat = $("#chat-live");
				liveChat.append(liveMessageEl);
			
				// This will remove each chat message from the list after 10 seconds and pull it out of the DOM entirely so the chat window area will manage its size automatically.
				setTimeout(function() {
					$("#chat-live-" + message.timestamp).animate({opacity:0.0}, 250, function() {
						$(this).remove();
					})
				}, 8000);
			}
		}
		
		function _handleIdentityResponse(data) {
			// this is called with repsonses to requests for a specific user
			// name. The server is either going to say "yes, you got it" or
			// "nope, that one is taken".
			if("state" in data && data["state"] == "OK") {
				// Start up the chat side of things.

				localStorage["roar-username"] = data["username"];

				$("#nickname").text(data["username"]);
				$("#nickname").show();
				
				$("#identity-form").hide();
				$("#chat-input").attr("disabled", false);
				$("#chat-input").focus();
				
				$(".button").removeClass("disabled");
				
				// Join a default room.
				if(!data["rename"]) {
					joinRoom("General Chat");
				}
			} else if ("state" in data && data["state"] == "TAKEN") {
				// Stay in the same mode.
				localAdminMessage("'"+data["username"]+"' is taken.", true);
				$("#identity-message").show();
				$("#identity-form").show();
				$("#name").focus();
				$("#name").text(data["username"]);
			}
		}
		
		function joinRoom(roomName) {
			$("#room").val(roomName);
			socket.emit("room", {"name":roomName});
			$("#chat-input").focus();
		}
		
		// This function is the heart of the visualization system. Everytime
		// we receive a message from the server with aggregate data about
		// keywords across all rooms. Given the picture of the state, animate
		// from where it is now to where it needs to be. What this function
		// will receive is a list of word/score combos.
		
		function updatePulse(pulse) {
			// First pass: iterate through the pulse list and for each word
			// in the list, create a div that represents it in a random loc.
			
			
			// Set a dummy attribute on all the children of pulse. Remove it
			// when we touch them. If it's still there at the end, remove
			// the element.
			
			$("#pulse").children().attr("untouched", "true");
			
			var pulseWords = pulse["words"];
			for(var itemIndex in pulseWords) {
				var pulseItem = pulseWords[itemIndex];
				var pulseWord = pulseItem["word"];
				var pulseMagnitude = pulseItem["score"];
				
				if(pulseWord=="") continue;
				
				var wordId = "pulse-word-" + pulseWord;
				
				// If the word already exists, find that element and update it
				// Otherwise, create a new one.
				var wordEl;
				if($("#" + wordId).length) {
					wordEl = $("#"+wordId);
					
					// If the word already exists, update its size.
					var size = pulseMagnitude*4 + 1.5;
					
					var newDimensions = getDimensionsForWord(wordEl.html(), size);
					
					// To make it look like it's growing equally in either
					// direction (instead of growing from the upper left 
					// corner), figure out how much larger it'll be after
					// growth and move left half of the difference.
					var leftDelta=(wordEl.width()-newDimensions["width"])/2;
					var topDelta=(wordEl.height()-newDimensions["height"])/2;
					
					wordEl.animate({
						fontSize: size + "em",
						left: "+=" + leftDelta,
						top: "+=" + topDelta,
					}, 500, null, "easeOutBounce");
					
					wordEl.removeAttr("untouched");
				} else {
					// If the word isn't on screen already, add it.
					wordEl = $(document.createElement('div'));
					wordEl.attr("id", wordId);
					wordEl.css("top", Math.random()*($(window).height()-50));
					wordEl.css("left", Math.random()*$(window).width()-100);
					wordEl.addClass("pulse-word");
					wordEl.html(pulseWord);
					
					// Create the element with default settings that make it
					// invisible but in the right place, then animate
					// it to the right size and opacity.
					wordEl.css("opacity", 0.0);
					wordEl.css("font-size", 0.4);
					$("#pulse").append(wordEl);
					
					var size = pulseMagnitude*4 + 1.5;
					var newDimensions = getDimensionsForWord(wordEl.html(), size);
					var leftDelta=(wordEl.width()-newDimensions["width"])/2;
					var topDelta=(wordEl.height()-newDimensions["height"])/2;
					
					wordEl.animate({
						opacity: 0.8,
						fontSize: size + "em",
						left: "+=" + leftDelta,
						top: "+=" + topDelta
					}, 500, null, "easeOutBounce");
					
				}
			}
			
			
			// Now cycle through all the elements in pulse and remove any
			// that haven't been touched - those have no magnitude
			// otherwise they would have been in the update list.
			var pulseWordEls = $("#pulse").children();
			
			pulseWordEls.map(function () {
				var element = $(this);
				
				if(element.attr("untouched")!=null) {
					// If the element still has the untouched attribute,
					// nuke it.
					
					var newDimensions = getDimensionsForWord(element.html(), 0.4);
					var leftDelta=(element.width()-newDimensions["width"])/2;
					var topDelta=(element.height()-newDimensions["height"])/2;
					
					element.animate({
						opacity: 0.0,
						fontSize: 0.4,
						left: "+=" + leftDelta,
						top: "+=" + topDelta
					}, 500, function() {
						$(this).remove();
					});
				}
			});
		}
		
		// Used to generate local error messages into the chat logs.
		function localAdminMessage(message, isError) {
			var msgDict = {text:message, admin:"true", error:isError};
			appendChat(msgDict);
		}
		
		function getDimensionsForWord(word, size) {
			var buffer = $("#word-buffer");
			buffer.html(word);
			buffer.css("font-size", size + "em");
			var size = {"width":buffer.width(), "height":buffer.height()};
			buffer.html("");
			return size;
		}
		
	</script>
	
	<style type="text/css" media="screen">
		
		body {
			background-color: black;
			margin: 0px;
		}
		
		#roar-container {
			font-family: Helvetica, sans-serif;
		}
		
		#roar-bar {
			background-color: #928B33;
			
			background: -webkit-gradient(linear, left top, left bottom, from(#928B33), to(#413D1B)); /* for webkit browsers */
			background: -moz-linear-gradient(top,  #928B33,  #413D1B); /* for firefox 3.6+ */
			
			position: fixed;
			bottom: 0px;
			
			width: 100%;
			height: 50px;
			
			color: #FEFAD1;
			
			
			border-top: 1px solid #B3B5B8;
			
			z-index: 9999;
		}
		
		#chat, #roar-bar .button, #logo, #identity {
			border-right: 1px solid #B3B5B8;
			height: 100%;
			float: left;
		}
		
		#identity {
			border-right: 0px !important;
			padding-top: 15px;
			padding-left: 10px;
		}
		
		#room-select label {
			font-weight: bold;
			text-align: right;
			margin-right: 5px;
		}
		
		#room-select {
			border-left: 1px solid #B3B5B8;
			height: 100%;
			float: right;
			padding-top: 15px;
			padding-left: 10px;
			width: 205px;
		}
		
		#logo {
			padding-top: 7px;
			
			font-weight: bold;
			font-size: 2em;
			width: 108px;
			text-align: center;
		}
		
		#chat {
			width: 345px;
			padding-top: 15px;
			
			font-size: 1.0em;
		}
		
		.chat {
			padding-left: 5px;
		}
		
		.past {
			color: #777;
		}
		
		.admin {
			background-color: rgba(50, 50, 50, 0.8);
			color: #eee;
			text-align: center;
		}
		
		.error {
			color: #EE011D;
		}
		
		#chat-form input {
			width: 295px;
			float: left;
			margin-left: 10px;
		}
		
		#show-history {
			width: 25px;
			height: 25px;
			float: left;
			margin-left: 5px;
			background-image: url('static/comments.png');
			background-repeat: no-repeat;
			background-position: center;
			
			-moz-border-radius: 5px;
			border-radius: 5px;
			
			cursor: pointer;
		}
		#show-history:hover {
			background-color: #ccc;
		}
		
		#show-history.pressed {
			background-color: #999;
		}
		
		#identity-form, #chat-form {
			margin-left: auto;
			margin-right:auto;
		}

		#chat-container {
			background-color: rgba(0,0,0,0.0);
			position: fixed;
			bottom: 51px;
			left: 109px;
			width: 450px;
		}
		
		#chat-live {
			color: #FEFAD1;
			text-shadow: 1px 1px 0px #111;
			width: 100%;
			float: left;
		}

		#shout-live {
			float: left;
			width: 100%;
		}

		#chat-history {
			background-color: rgba(254, 240, 209, 0.7);
			border: #928B33;
			color: #333;
			
			overflow-y: scroll;
			position:fixed;
			
			width: 450px;
			height: 300px;
			bottom: -200px;
			left: 109px;
			
			z-index: 2;
		}
		
		#top-rooms {
			background-color: rgba(254, 240, 209, 0.7);
			border: #928B33;
			color: #333;
			
			position:fixed;
			
			width: 215px;
			bottom: -200px;
			right: 0%;
			
			z-index: 2;
			
		}
		
		#top-rooms h1 {
			margin: 0px;
			font-size: 1.0em;
			background-color: #413D1B;
			color: #FEFAD1;
			padding: 5px;
			margin-bottom: 5px;
			
		}
		
		#top-rooms ul {
			padding-left: 0px;
			margin: 0px;
		}
		
		#top-rooms li {
			cursor: pointer;
			
			list-style-type: none;
			
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
			
			padding: 5px;
			margin-right: 5px;
			margin-left: 5px;
			margin-bottom: 5px;
		}
		
		#top-rooms li:hover {
			background-color: #ccc;
		}

		
		#roar-bar .button {
			width: 70px;
			text-align: center;
			font-size: 1.3em;
			font-variant: small-caps;
			font-weight: bold;
			padding-top: 10px;
			height: 40px;
			
			text-shadow: 1px 1px 0px #111;
			
/* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}
		
		#roar-bar .disabled {
			color: #888;
		}
		
		#roar-bar .disabled:active {
			background: inherit !important;
		}
		
		#roar-bar .button:active{
/*			background-color: #413D1B;*/
			
			background: -webkit-gradient(linear, left top, left bottom, from(#413D1B), to(#928B33)); /* for webkit browsers */
			background: -moz-linear-gradient(top,  #413D1B,  #928B33); /* for firefox 3.6+ */
		}
		
		#roar-bar .button:hover {
			cursor:pointer;
		}
		
		#name {
			width: 100px;
			float: left;
		}
		
		#submit-name {
			magin-left: 10px;
			margin-bottom: 10px;
		}

		#identity-message {
			background-color: #FEFAD1;
			padding: 3px;
			color: #333;
			font-size: 0.5em;
		}
		
		#nickname {
			font-weight: bold;
			font-size: 1.0em;
			
			border-radius: 5px;
			-moz-border-radius: 5px;
		}
		
		#nickname:hover {
			background-color: #444;
		}

		.shout {
			background-color: rgba(254, 240, 209, 0.7);
			border: 1px solid #928B33;
			color: black;
			text-shadow: none;
		}
		
		.shout .from, .shout .text {
			float: left;
		}
		
		.shout .from {
			margin-right: 2px;
		}
		
		.shout .text {
			max-width: 370px;
		}
		
		.shout .from:after {
			content:': ';
		}
		
		.shout .votes-container {
			float: right;
		}

		.votes-container .votes {
			float: left;
			font-style: italic;
			margin-right: 5px;
		}
		
		.votes-container .vote-button {
			float: left;
			background-color: rgba(254, 240, 209, 1.0);
			border: 1px solid #928B33;
			cursor: pointer;
			
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}


		#stream-img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 50px;
			height: 90%;
			border: 1px solid #333;
		}

		#pulse {
			position: fixed;
			top: 0px;
			left: 0px;
			background: rgba(1,1,1,0.0);
			width: 100%;
			height: 100%;
			
			/* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}
		
		.pulse-word {
			position: fixed;
			color: white;
			text-shadow: 1px 1px 0px #111;
			font-weight: bold;
			opacity: 0.7;
		}

		#word-buffer {
			position: fixed;
			right: -10px;
			bottom: -10px;
			text-shadow: 1px 1px 0px #111;
			font-weight: bold;
		}
		
		/* Using this approach: http://www.dailycoding.com/Posts/default_text_fields_using_simple_jquery_trick.aspx */
	    .default-text { }
	    .default-text-active { color: #a1a1a1; font-style: italic; }
		
		.clear {
			clear: both;
		}
		
	</style>
	
</head>
<body>

<img id="stream-img" src="/static/starcraft.png">

<div id="roar-container">
<div id="roar-bar">
<div id="logo">ROAR</div>

<div id="chat-container">
<div id="chat-live">
</div>
<div id="shout-live">
</div>
</div>

<div id="identity">
	<div id="nickname"></div>
	<form id="identity-form">
		<input type="text" name="name" title="your nickname?" value="" id="name"class="default-text">
		<input type="button" name="submit_name" value="login" id="submit-name"><br>
	</form>
</div>

<div id="chat">
<form id="chat-form">
	<input type="text" name="chat-input" title="say something!" value="" id="chat-input" class="default-text" autocomplete="off">
	<div id="show-history"></div>
</form>


</div>
<div id="chat-button" class="button disabled">
chat
</div>
<div id="shout-button" class="button disabled">
shout
</div>

<div id="room-select">
<form id="room-select-form">
<label for="room">room</label><input type="text" name="room" value="" id="room">
</form>
</div>

</div>


<div id="top-rooms">
<h1>top rooms</h1>
<ul></ul>
</div>

<div id="chat-history">
</div>

<div id="pulse">
</div>

<div id="word-buffer">
</div>

</div>


</body>
</html>