		body {
			background-color: black;
			margin: 0px;
			
			overflow:hidden;
		}
		
		#roar-container {
			font-family: Helvetica, sans-serif;
		}
		
		#roar-bar {
			background-color: #928B33;
			
			background: -webkit-gradient(linear, left top, left bottom, from(#2B434F), to(#0C2538)); /* for webkit browsers */
			background: -moz-linear-gradient(top,  #2B434F,  #0C2538); /* for firefox 3.6+ */
			
			position: fixed;
			bottom: 50px;
			
			width: 100%;
			height: 50px;
			
			color: #EDECC8;
			
			
			border-top: 1px solid #36464C;
			
			z-index: 7000;
		}
		
		#chat, #roar-bar .button, #logo, #identity {
			border-right: 1px solid #36464C;
			height: 100%;
			float: left;
		}
		
		#identity {
			border-right: 0px !important;
			padding-top: 15px;
			padding-left: 10px;
		}
		
		#stats {
			float: right;
/*			width: 150px;*/
			border-left: 1px solid #36464C;
			
			height: 50px;
			
			text-align: center;
			padding-left: 10px;
			padding-right: 10px;
		}

		#stats table {
			width: 130px;
			float: left;
		}

		#stats .label {
			font-style: italic;
			font-size: 0.8em;
			text-align: right;
		}
		
		#stats .stat {
			font-weight: bold;
			font-size: 1.0em;
			text-align: left;
		}
		
		#room-select label {
			font-weight: bold;
			text-align: right;
			margin-right: 5px;
		}
		
		#room-select input {
			width: 135px;
		}
		
		#room-select {
			border-left: 1px solid #36464C;
			height: 35px;
			float: right;
			padding-top: 15px;
			padding-left: 10px;
			width: 215px;
			
			z-index: 8000;
		}
		
		#logo {
			padding-top: 7px;
			
			font-weight: bold;
			font-size: 2em;
			width: 108px;
			text-align: center;
			height: 43px;
			letter-spacing: -2px;
		}
		
		#chat {
			width: 375px;
			padding-top: 15px;
			height: 35px;
			font-size: 1.0em;
		}
		
		.chat {
			padding-left: 5px;
		}
		
		.past {
			color: #777;
		}
		
		.admin {
			background-color: rgba(50, 50, 50, 0.8);
			color: #eee;
			text-align: center;
		}
		
		.error {
			color: #EE011D;
		}
		
		#chat-form input {
			width: 295px;
			float: left;
			margin-left: 10px;
		}
		
		.toggle-button {
			width: 25px;
			height: 25px;
			float: left;
			margin-left: 5px;
			
			-moz-border-radius: 5px;
			border-radius: 5px;
			
			cursor: pointer;
			
			background-repeat: no-repeat;
			background-position: center;
		}

		.toggle-button:hover {
			background-color: #2B434F;
		}
		
		.toggle-button.pressed {
			background-color: #999;
		}
		
		#show-history {
			background-image: url('/static/img/comments.png');
		}
		
		#bots-mute {
		    background-image: url('/static/img/status_online.png');
		}
		
		#bots-mute.pressed {
		    background-image: url('/static/img/status_busy.png');
		}
		
		#identity-form, #chat-form {
			margin-left: auto;
			margin-right:auto;
		}

		#chat-container {
			background-color: rgba(0,0,0,0.0);
			position: fixed;
			bottom: 101px;
			left: 109px;
			width: 450px;
		}
		
		#chat-live {
			color: #EDECC8;
			text-shadow: 1px 1px 0px #111;
			width: 100%;
			float: left;
		}

		#shout-live {
			float: left;
			width: 100%;
		}

		#chat-history {
			background-color: rgba(43, 67, 79, 0.9);
			border: #36464C;
			color: #EDECC8;
			
			overflow-y: scroll;
			position:fixed;
			
			width: 450px;
			height: 300px;
			bottom: -200px;
			left: 109px;
			
			z-index: 6000;
		}
		
		#rooms-container {
			background-color: rgba(43, 67, 79, 0.9);
			border: 1px solid #36464C;
			color: #EDECC8;
			position:fixed;
			
			width: 225px;
			bottom: -200px;
			right: 0%;
			
			z-index: 5000;
			
		}
		
		#rooms-container h1 {
			margin: 0px;
			font-size: 1.0em;
			background-color: #0C2538;
			color: #EDECC8;
			padding: 5px;
			margin-bottom: 5px;
			
		}
		
		#rooms-container ul {
			padding-left: 0px;
			margin: 0px;
		}
		
		#rooms-container li {
			cursor: pointer;
			
			list-style-type: none;
			
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
			
			margin-right: 5px;
			margin-left: 5px;
			margin-bottom: 0px;
		}
		
		#rooms-container li:hover {
			background-color: #0C2538;
		}

		.activity {
			margin-right: 5px;
		}
		
		.level-green {
			background-color: green !important;
		}
		
		.level-yellow {
			background-color: yellow !important;
		}
		
		.level-red { 
			background-color: red !important;
		}
		
		.pixel {
			width: 5px;
			height: 5px;
			background-color: #EDECC8;
			margin-right: 2px;
			float: left;
			margin-top: 7px;
		}
		
		
		#roar-bar .button {
			width: 70px;
			text-align: center;
			font-size: 1.3em;
			font-variant: small-caps;
			font-weight: bold;
			padding-top: 10px;
			height: 40px;
			
			text-shadow: 1px 1px 0px #111;
			
/* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}
		
		#roar-bar .disabled {
			color: #555;
			background-color: #0C2538;
		}
		
		#roar-bar .disabled:active {
			background: inherit !important;
		}
		
		#roar-bar .button:active{
/*			background-color: #413D1B;*/
			
			background: -webkit-gradient(linear, left top, left bottom, from(#0C2538), to(#2B434F)); /* for webkit browsers */
			background: -moz-linear-gradient(top,  #0C2538,  #0C2538); /* for firefox 3.6+ */
		}
		
		#roar-bar .button:hover {
			cursor:pointer;
		}
		
		p {
			margin-top: 0px;
		}
		
		#name {
			width: 100px;
			float: left;
		}
		
		#submit-name {
			magin-left: 10px;
			margin-bottom: 10px;
		}

		#identity-message {
			background-color: #EDECC8;
			padding: 3px;
			color: #333;
			font-size: 0.5em;
		}
		
		#nickname {
			font-weight: bold;
			font-size: 1.0em;
			
			border-radius: 5px;
			-moz-border-radius: 5px;
			padding: 2px;
		}
		
		#nickname:hover {
			background-color: #2B434F;
		}

		.shout {
			background-color: rgba(43, 67, 79, 0.9);
			border: 1px solid #36464C;
			color: #EDECC8;
			text-shadow: none;
			padding-left: 5px;
		}
		
		.shout .from, .shout .text {
			float: left;
		}
		
		.shout .from {
			margin-right: 2px;
		}
		
		.shout .text {
			max-width: 370px;
		}
		
		.shout .from:after {
			content:': ';
		}
		
		.shout .votes-container {
			float: right;
		}

		.votes-container .votes {
			float: left;
			font-style: italic;
			margin-right: 5px;
		}
		
		.votes-container .vote-button {
			float: left;
			background-color: rgba(43, 67, 79, 1.0);
			border: 1px solid #36464C;
			color: #EDECC8;
			cursor: pointer;
			
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		#static-img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: 90%;
			border: 1px solid #333;
		}

		#stream-img {
			display: block;
			margin-left: 0;
			margin-top: 50px;
			height: 90%;
			width: 100%;
			border: 1px solid #333;
		}

		#pulse {
			position: fixed;
            bottom: 0px;
            background-image: url('/static/img/inflicted.png');
            background-repeat: repeat;
            
/*          background: rgba(1,1,1,0.0);*/
			width: 100%;
			height: 50px;
			
			overflow: hidden;
			
			/* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
			
			z-index: 6998;
		}
		
		#pulse-container {
		    z-index: 1000;
		}
		
		#pulse div:hover {
		    background-color: #444;
		    color: white;
		    opacity: 1.0;
		    z-index: 100000;
		}
		
		#pulse h1 {
		    width: 100%;
		    margin: 0px;
		    z-index: 1000000;
		    background-color: #0C2538;
		    color: #EDECC8;
			
			border-bottom: 1px solid #36464C;
			
			text-align: center;
			
			font-size: 1.5em;
		}
		
		#pulse h1 div {
		    position: absolute;
		    left: 50%;
		    margin-left: -15px;
		    margin-top: -3px;
		    background-color: #333;
		    color: #aaa;
		    font-size: 10px;
		    width: 30px;
		}
		
		#pulse h1 div:hover {
		    background-color: #555;
		}
		
		.held {
		    background-color: #444;
		    z-index: 100000;
		    opacity: 1.0;
		}
		
		#pulse #pulse-container div.usedRecently {
/*          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;*/
/*          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFAD00, 0 0 70px #FFAD00;*/
          text-shadow: 0 0 40px #FFAD00, 0 0 50px #FFAD00;
		}
		
		.pulseWordRiver {
		    position: absolute;
			color: white;
			text-shadow: 2px 2px 0px #111;
			font-weight: bold;
			opacity: 0.8;
		}
		
		.pulseWordBar {
		    position: absolute;
            float: left;
			color: white;
			text-shadow: 1px 1px 0px #111;
			font-weight: bold;
			opacity: 0.7;
			margin: 5px;
		}
		
		.pulseWord {
		    position: absolute;
            float: left;
			color: white;
			text-shadow: 1px 1px 0px #111;
			font-weight: bold;
			opacity: 0.7;
			margin: 5px;
		}
		
		.pulseWordCloud {
        			position: fixed;
        			color: white;
        			text-shadow: 1px 1px 0px #111;
        			font-weight: bold;
        			opacity: 0.7;
        }
		
		.blur {
			color: transparent;
			text-shadow: 0 0 4px white;
			opacity: 0.5;
		}
		

		#word-buffer {
			position: fixed;
			right: -10px;
			bottom: -10px;
			text-shadow: 1px 1px 0px #111;
			font-weight: bold;
		}
		
		/* Styles for the static webpage part of the site. */
		
		#backdrop {
			position: fixed;
			top: 0px;
			left: 0px;
			
			background-color: black;
			opacity: 0.5;
			width: 100%;
			height: 100%;
			z-index: 7999;
		}
		
		#container {
			position: fixed;
			
			top: 10px;
			left: 50%;
			
			width: 580px;
			
			margin-left: -290px;
			
			z-index: 8001;
			
			font-family: Helvetica, sans-serif;
		}
		
		#information {
			background-color: #f0f0f0;
			box-shadow: 8px 8px 8px black;
			padding: 10px;
			border-top: 3px solid #36464C;
			border-right: 3px solid #36464C;
			border-left: 3px solid #36464C;
			
			color: #0C2538;
			
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		
		#header-container {
			width: 100%;
/*			padding: 5px;*/
			margin-bottom: 10px;
		}
		
		#images {
			float: left;
			background-color: black;
			width: 200px;
			height: 128px;
			margin-right: 10px;
			
			border-radius: 2px;
		}
		
		#text {
			float: left;
		}
		
		#header {
			height: 98px;
		}
		
		#header h1, #header h2 {
			width: 334px;
			background-color: #0C2538;
			color: #EDECC8;
			padding: 5px;
		}
		
		#header h1 {
			font-weight: bold;
			font-size: 3.0em;
			margin-top: 0px;
			margin-bottom: 0px;
			
/*			border: 1px solid #36464C;*/
/*			width: 150px;*/
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			
		}
		
		#header h2 {
			font-style: italic;
			font-weight: normal;
			font-size: 1.2em;
			margin-top: -5px;
			margin-bottom: 0px;
			
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}
		
		.section-button {
			float: left;
			font-size: 1.05em;
			margin-right: 10px;
			margin-top: 5px;
			background-color: #2B434F;
			padding: 3px;
			
			color: #EDECC8;
			
			cursor: pointer;
			border-radius: 3px;
		}
		
		.selected {
			background-color: #0C2538;
			color: #EDE059;
			
		}
		
		#content {
			padding: 5px;
		}
		
		.explainer {
			width: 300px;
			position: absolute;
			height: 200px;
			
			bottom: 51px;
			left: 50px;
			z-index: 8000;
		}
		
		#hide {
			margin-left: 20px;
			font-weight: bold;
			width: 300px;
			color: white;
			cursor: pointer;
			font-size: 1.6em;
		}
		
		#name-callout {
			left: 120px;
			bottom: 51px;
		}
		
		#chat-callout {
			left: 300px;
			bottom: 51px;
			width: 300px;
		}
		
		#section-callout {
			right: 50px;
			bottom: 51px;
			width: 300px;
		}
		
		#pulse-callout {
			right: 40%;
			bottom: 30%;
			width: 300px;
		}
		
		#bots-callout {
			left: 150px;
			bottom: 200px;
			width: 300px;
		}

		.command {
			background-color: #EDECC8;
			font-family: monospace;
		}
		
		.highlight {
			background-color: #EDECC8;
		}
		
		/* using this strategy: http://mrcoles.com/blog/callout-box-css-border-triangles-cross-browser/ */
		.callout {
		    position: absolute;
			width: 200px;


		    margin: 18px 0;
		    padding: 18px 20px;
		
		    background-color: #eef4f9;
		    /* easy rounded corners for modern browsers */
		    -moz-border-radius: 6px;
		    -webkit-border-radius: 6px;
		    border-radius: 6px;
			
			z-index: 8000;
			
			font-family: Helvetica, sans-serif;
		}
		
		.callout .notch, .callout .border-notch {
		    position: absolute;
		    bottom: -10px;
		    margin: 0;
		    border-bottom: 0;
		    border-left: 10px solid transparent;
		    border-right: 10px solid transparent;
		    border-top: 10px solid #eef4f9;
		    padding: 0;
		    width: 0;
		    height: 0;
		    /* ie6 height fix */
		    font-size: 0;
		    line-height: 0;
		     /* ie6 transparent fix */
		    _border-right-color: pink;
		    _border-left-color: pink;
		    _filter: chroma(color=pink);
		}
		
		.border-callout {
			border: 3px solid #36464C; padding: 17px 19px;
		}
		
		.border-callout .border-notch {
			border-top: 11px solid #36464C;
			
			border-left: 12px solid transparent;
		    border-right: 12px solid transparent;
		    
			
/*			border-right: 12px solid #36464C;
			border-left: 12px solid #36464C;
*//*			height: 0px;*/
/*			bottom: 11px;*/
			bottom: -13px;
		}
		
		.border-notch.left {
		    left: 19px !important;
		}
		
		.border-notch.right {
			right: 19px !important;
		}
		
		
		.notch.left {
			left: 20px !important;
		}
		
		.notch.right {
			right: 20px !important;
		}
		
		#footer {
			padding: 5px;
			font-size: 0.8em;
			
			background-color: #0C2538;
			color: #EDECC8;
			
			box-shadow: 8px 8px 8px black;
			
			border-bottom: 3px solid #36464C;
			border-left: 3px solid #36464C;
			border-right: 3px solid #36464C;
			
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			
			text-align: center;
		}
		
		#footer a {
			font-weight: bold;
			color: white;
		}
		
		#footer a:visited {
			color:white;
		}

		.roar {
			background-color: #0C2538;
			color: #EDECC8;
			font-weight: bold;
			padding-left: 2px;
			padding-right: 2px;
		}
		
		
		#demo-header {
			position: fixed;
			top: 0px;
			left: 0px;
			
			height: 100px;
			width: 100%;
			
			background-color: #0C2538;
			border-bottom: 3px solid #36464C;
			color: #EDECC8;
			
			z-index: 9999;
			
			font-family: helvetica, sans-serif;
			padding-left: 50px;
		}
		
		#demo-header .title {
			float: left;

			height: 100%;
			width: 300px;
			
			font-size: 6em;
			font-weight: bold;
			
			letter-spacing: -8px;
		}
		
		#demo-header .subtitle, #demo-header .byline {
			float: left;
			height: 45%;
		}
		
		#demo-header .subtitle {
			font-weight: bold;
			font-size: 3em;
			margin-top: 8px;
		}
		
		#demo-header .byline {
			font-style: italic;
			font-size: 1.5em;
		}

		#demo div {
			float: left;
			margin-top: 10px;
			margin-bottom: 5px;
		}
		
		#start-demo-button {
			background-color: #0C2538;
			border: 2px solid #36464C;
			border-radius: 3px;
			
			color: #EDECC8;
			font-size: 1.4em;
			
			text-align: center;
			margin-left: 5px;
			margin-right: 10px;
            width: 200px;
            cursor: pointer;
            
            background: -webkit-gradient(linear, left top, left bottom, from(#2B434F), to(#0C2538)); /* for webkit browsers */
			background: -moz-linear-gradient(top,  #2B434F,  #0C2538); /* for firefox 3.6+ */
		}
		
		#start-demo-button:hover {
		    background: #2B434F;
		}
		
		#button-label {
		    color: red;
		    font-size: 0.8em;
		    width: 325px;
		}
		
		/* Using this approach: http://www.dailycoding.com/Posts/default_text_fields_using_simple_jquery_trick.aspx */
	    .default-text { }
	    .default-text-active { color: #a1a1a1; font-style: italic; }
		
		.clear {
			clear: both;
		}
		
		#search-results {
		    z-index: 6999;
		    position: absolute;
		    width: 400px;
		    height: 400px;
		    
            bottom: 100px;
            
            border: 1px solid black;
		    background: white;
		    color: black;
		    
		}
		
		#search-results .chat-container {
		    overflow: scroll;
		    height: 327px;
		    width: 100%;
		}
		
		#search-results .highlight {
		    font-weight: bold;
		    color: red;
		    background-color: #ccc;
		}
		
		#search-results .chat {
		    margin-bottom: 5px;
		}
		
		#search-results h1 {
		    margin: 0px;
		    padding: 5px;
		    background-color: #0C2538;
		    color: #EDECC8;
		}
		
		#search-results .arrow {
		    background: transparent;
		}
		
		#search-results .arrow .notch {
                position: absolute;
                top: 20px;
                right: -16px;
                margin: 0;
                border-top: 16px solid transparent;
                border-right: 0;
                border-left: 16px solid white;
                border-bottom: 16px solid transparent;
                padding: 0;
                width: 0;
                height: 0;
                /* ie6 height fix */
                font-size: 0;
                line-height: 0;
                 /* ie6 transparent fix */
                _border-right-color: pink;
                _border-left-color: pink;
                _filter: chroma(color=pink);
		}
		
        #search-results .border-callout .border-notch { border-bottom-color: #c5d9e8; top: -11px; }
		
/*      #search-results h1 {
            width: 90%;
        }
*/		
		#close-search {
		    font-style: bold;
		    background-color: #444;
		    
		    float: right;
		}
		
		#close-search:hover {
		    background-color: #666;
		    cursor: pointer;
		}
		
		.total-messages {
		    width: 100%;
		    background-color: #2B434F;
		    color: #EDECC8;
		    font-style: italic;
		    text-align: center;
		    margin-bottom: 10px;
		}
		
		#live_embed_player_flash {
			z-index: -1000;
		}